.contactContainer {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.searchInput {
  max-width: 205px;
  min-width: 100px;
  padding: 3.5px 15px;
  border: 1px solid rgba(0, 0, 0, 0.17);
  border-radius: 2px;
}
.searchInput:hover {
  border: 1px solid rgba(0, 157, 255, 0.6);
  transition: 0.3s;
}
